<div nz-row [nzGutter]="[16, 16]">
  <div nz-col nzSpan="24" class="toolbar-wrapper">
    <div nz-row [nzGutter]="[32, 16]" nzAlign="middle" nzJustify="center">
      <div nz-col nzFlex="1">
        <nz-select
          nzMode="multiple"
          nzPlaceHolder="Select one or more paths"
          [nzMaxTagCount]="1"
          [nzOptions]="options()"
          [(ngModel)]="selectedPaths"
          (nzOpenChange)="onOpenSelect()"
        >
        </nz-select>
        <button nz-button nzType="primary" class="setting" (click)="isPathDropdownVisible = !$isPathDropdownVisible()"><span nz-icon nzType="setting"></span></button>

      </div>
      <div nz-col class="filter-icon">
        <span
          nz-icon
          nzType="filter"
          [nzTheme]="areFiltersSelected() ? 'twotone' : 'outline'"
          (click)="isFilterDropdownVisible.set(!isFilterDropdownVisible())"
        >
        </span>
      </div>
      <div nz-col class="clock-icon">
        <span
          nz-icon
          nzType="clock-circle"
          [nzTheme]="areTimerFiltersSelected() ? 'twotone' : 'outline'"
          (click)="isTimerDropdownVisible.set(!isTimerDropdownVisible())"
        >
    </span>
      </div>
      <div nz-col>
        <button
          nz-button
          nzType="primary"
          (click)="searchMessages()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  @for (message of messages(); track message.messageId) {
    <div nz-col nzSpan="24">
      <app-webhook-card
        [path]="message.path"
        [serviceSentMessageAt]="message.serviceSentMessageAt"
        [serverReceivedMessageAt]="message.serverReceivedMessageAt"
        [responseStatusCode]="message.responseStatusCode"
        [serverTimeout]="message.serverTimeout"
        [messageId]="message.messageId"
      ></app-webhook-card>
    </div>
  } @empty {
    <nz-empty></nz-empty>
  }
</div>

<nz-modal
  #filterModal
  [nzVisible]="isFilterDropdownVisible()"
  (nzOnCancel)="onCloseFilterModal()"
  (nzVisibleChange)="isFilterDropdownVisible.set(!isFilterDropdownVisible())"
  nzTitle="Filters"
  [nzContent]="filterContentTmpl"
  [nzFooter]="filterFooterTmpl"
>
</nz-modal>

<nz-modal
  #pathModal
  [nzVisible]="$isPathDropdownVisible()"
  (nzOnCancel)="isPathDropdownVisible = false"
  (nzVisibleChange)="isPathDropdownVisible = !$isPathDropdownVisible()"
  nzTitle="Paths"
  [nzContent]="pathContentTmpl"
  [nzFooter]="pathFooterTmpl"
>
</nz-modal>

<nz-modal
  #timeModal
  [nzVisible]="isTimerDropdownVisible()"
  (nzOnCancel)="onCloseTimerModal()"
  (nzVisibleChange)="isTimerDropdownVisible.set(!isTimerDropdownVisible())"
  nzTitle="Timers"
  [nzContent]="timerContentTmpl"
  [nzFooter]="timerFooterTmpl"
>
</nz-modal>


<ng-template #filterContentTmpl>
  <form nz-form [formGroup]="form">
    <div nz-row [nzGutter]="[16, 8]" nzAlign="bottom">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Maximum number of visible requests</nz-form-label>
          <nz-form-control>
            <input nz-input type="number" formControlName="visibleRequestsMaxNumber">
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Response Status Code</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="responseStatusCode">
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Server Timeout</nz-form-label>
          <nz-form-control>
            <input nz-input type="number" formControlName="serverTimeout">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #filterFooterTmpl>
  <div nz-row nzJustify="space-between" [nzGutter]="[16, 16]">
    <div nz-col>
      <button nz-button (click)="onCloseFilterModal()">Cancel</button>
    </div>
    <div nz-col>
      <button nz-button nzType="primary" (click)="onUpdateFilter()">Save</button>
    </div>
  </div>
</ng-template>


<ng-template #timerContentTmpl>
  <form nz-form [formGroup]="form">
    <div nz-row [nzGutter]="[16, 8]" nzAlign="bottom">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Refresh number</nz-form-label>
          <nz-form-control>
            <input nz-input type="number" formControlName="refreshNumber">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Unit time</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="unitTime">
              <nz-option [nzValue]="UnitTime.Seconds" [nzLabel]="UnitTime.Seconds"></nz-option>
              <nz-option [nzValue]="UnitTime.Minutes" [nzLabel]="UnitTime.Minutes"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #timerFooterTmpl>
  <div nz-row nzJustify="space-between" [nzGutter]="[16, 16]">
    <div nz-col>
      <button nz-button (click)="onCloseTimerModal()">Cancel</button>
    </div>
    <div nz-col>
      <button nz-button nzType="primary" (click)="onUpdateRefreshRate()">Save</button>
    </div>
  </div>
</ng-template>


<ng-template #pathContentTmpl>
  <form nz-form [formGroup]="form">
    <div nz-row [nzGutter]="[16, 8]" nzAlign="bottom">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>OrderBy</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="orderBy">
              <nz-option [nzValue]="PathOrderBy.TotalMessage" nzLabel="Total message"></nz-option>
              <nz-option [nzValue]="PathOrderBy.LastMessage" nzLabel="Last message"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Order</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="order">
              <nz-option [nzValue]="Order.Descending" nzLabel="Descending"></nz-option>
              <nz-option [nzValue]="Order.Ascending" nzLabel="Ascending"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #pathFooterTmpl>
  <div nz-row nzJustify="space-between" [nzGutter]="[16, 16]">
    <div nz-col>
      <button nz-button (click)="isPathDropdownVisible = !$isPathDropdownVisible()">Cancel</button>
    </div>
    <div nz-col>
      <button nz-button nzType="primary" (click)="onUpdatePathQueryParams()">Save</button>
    </div>
  </div>
</ng-template>
