<div nz-row [nzGutter]="[16, 16]">
  <div nz-col nzSpan="24">
    <div nz-row [nzGutter]="[32, 16]" nzAlign="middle" nzJustify="center">
      <div nz-col nzFlex="1">
        <nz-select
          nzMode="multiple"
          nzPlaceHolder="Select one or more UUID"
          [nzOptions]="options()"
          [(ngModel)]="selectedPaths"
          class="w-full"
        ></nz-select>
      </div>
      <div nz-col>
    <span
      nz-icon
      nzType="filter"
      [nzTheme]="areFiltersSelected() ? 'twotone' : 'outline'"
      (click)="isFilterDropdownVisible.set(!isFilterDropdownVisible())"
    >
    </span>
      </div>
      <div nz-col>
        <button
          nz-button
          nzType="primary"
          (click)="searchMessages()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  @for (message of messages(); track message.messageId) {
    <div nz-col nzSpan="24">
      <app-webhook-card
        [path]="message.path"
        [serviceSentMessageAt]="message.serviceSentMessageAt"
        [serverReceivedMessageAt]="message.serverReceivedMessageAt"
        [responseStatusCode]="message.responseStatusCode"
        [serverTimeout]="message.serverTimeout"
        [messageId]="message.messageId"
      ></app-webhook-card>
    </div>
  } @empty {
    <nz-empty></nz-empty>
  }
</div>

<nz-modal
  [nzVisible]="isFilterDropdownVisible()"
  (nzOnCancel)="onCloseFilterModal()"
  (nzVisibleChange)="isFilterDropdownVisible.set(!isFilterDropdownVisible())"
  nzTitle="Filters"
  [nzContent]="filterContentTmpl"
  [nzFooter]="filterFooterTmpl"
>
</nz-modal>


<ng-template #filterContentTmpl>
  <form nz-form [formGroup]="form">
    <div nz-row [nzGutter]="[16, 8]" nzAlign="bottom">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Maximum number of visible requests</nz-form-label>
          <nz-form-control>
            <input nz-input type="number" formControlName="visibleRequestsMaxNumber">
          </nz-form-control>
        </nz-form-item >
      </div>

      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Response Status Code</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="responseStatusCode">
          </nz-form-control>
        </nz-form-item >
      </div>

      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Server Timeout</nz-form-label>
          <nz-form-control>
            <input nz-input type="number" formControlName="serverTimeout">
          </nz-form-control>
        </nz-form-item >
      </div>

      <div nz-col nzSpan="24">
        <br>
        <h3>Refresh: </h3>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label>Refresh number</nz-form-label>
          <nz-form-control>
            <input nz-input type="number" formControlName="refreshNumber">
          </nz-form-control>
        </nz-form-item >
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label>Unit time</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="unitTime">
              <nz-option [nzValue]="UnitTime.Seconds" [nzLabel]="UnitTime.Seconds"></nz-option>
              <nz-option [nzValue]="UnitTime.Minutes" [nzLabel]="UnitTime.Minutes"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item >
      </div>
      <div nz-col nzSpan="8">
        <button
          nz-button
          nzType="primary"
          class="w-full"
          (click)="onUpdateRefreshRate()"
        >
          Save refresh
        </button>
      </div>
    </div>
  </form>
</ng-template>


<ng-template #filterFooterTmpl>
  <div nz-row nzJustify="space-between" [nzGutter]="[16, 16]">
    <div nz-col>
      <button nz-button (click)="onCloseFilterModal()">Cancel</button>
    </div>
    <div nz-col>
      <button nz-button nzType="primary" (click)="onUpdateFilter()">Save</button>
    </div>
  </div>
</ng-template>
